---
import AnimatedBeamDemo from "./AnimatedBeamDemo";
---

<section class="py-16 md:py-24">
  <h2 class="text-3xl md:text-4xl font-bold mb-4 text-black text-center">
    Integra diversos módulos
  </h2>
  <p class="text-lg text-gray-600 max-w-3xl mx-auto text-center">
    Integra módulos de pedidos, ventas, almacén y estadísticas. ¡Además, podemos
    incorporar muchos más según tus necesidades!
  </p>
  <AnimatedBeamDemo client:visible />
</section>
