---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Mikhuy es una plataforma integral para administrar cafetines universitarios, facilitando la gestión de inventario, pedidos, reportes y más."
    />
    <meta
      name="keywords"
      content="Mikhuy, gestión de cafetines, cafetería universitaria, control de inventario, pedidos en línea, reportes de ventas, software para cafeterías"
    />
    <title>Mikhuy | Gestor de Cafetines Universitarios</title>
  </head>
  <body class="min-h-screen bg-white text-gray-900">
    <slot />
    <script type="module" src="/scripts/init-lenis.js"></script>
  </body>
</html>
